<body>
    <header>
      <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
        <div class="container-fluid">
          <a class="navbar-brand">NERV</a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="navbar-collapse collapse" id="navbarsExample01">
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/shop">Shop</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Información</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                  <li><a class="dropdown-item" href="/acerca">Sobre nosotros</a></li>
                  <li><a class="dropdown-item" href="/ubicacion">Ubicación</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Unidades EVA</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                  <li><a class="dropdown-item" href="/unidades">Lista actual</a></li>
                  <% if (isLoggedIn) { %>
                  <li><a class="dropdown-item" href="/unidades/nueva-unidad">Agregar nueva unidad</a></li>
                  <% } %>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Cuenta</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                  <% if (isLoggedIn == false) { %>
                  <li><a class="dropdown-item" href="/users/login">Iniciar secion</a></li>
                  <li><a class="dropdown-item" href="/users/register">Registrarse</a></li>
                  <% } %>

                  <% if (isLoggedIn) { %>
                  <li><a class="dropdown-item" href="/users/logout">Salir</a></li>
                  <% } %>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/preguntas">Preguntas</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>