<%- include('partials/head.ejs') %>

<%- include('partials/navbar.ejs') %>

    <main>
        <h1 class= "text-danger">¿Quienes somos?</h1>
            <h3>Somos una organización paramilitar dependiente de la ONU. Dedicada en cuerpo y alma a la reconstrucción y protección del mundo, 
                con la función de estudiar y eliminar a los Ángeles. 
                En relación a la cadena de mando, nuestro comandante Gendō Ikari, junto con el vice-comandante Kōzō Fuyutsuki, 
                son quienes dirigen casi en su totalidad la organización, 
                aunque en realidad los verdaderos jefes de NERV son los miembros de la organización SEELE, con Keel Lorentz a la cabeza.</h3><br>
            <img src="media/seele.jpg" alt="seele" style="width:100%">
            <img src="media/gendo.gif" alt="portada" style="width:100%">
    </main>

<%- include('partials/footer.ejs') %>