<%- include('partials/head.ejs') %>

<%- include('partials/navbar.ejs') %>

    <main>
        <audio src="media/opening.mp3" autoplay></audio>
        <h1 class= "text-danger">Neon Genesis Evangelion</h1>
        <iframe src="https://www3.animeflv.net/anime/neon-genesis-evangelion" width="100%" height="600"></iframe>
    </main>

<%- include('partials/footer.ejs') %>