<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> NERV SHOP </title>
    <link rel="icon" type="image/png" href="nervRed.png" />
    <link rel="stylesheet" href="product.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" ></script>
</head>

<body>
    <header>
      <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">NERV</a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="navbar-collapse collapse" id="navbarsExample01">
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="inicio">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="shop">Shop</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Información</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                  <li><a class="dropdown-item" href="about">Sobre nosotros</a></li>
                  <li><a class="dropdown-item" href="location">Ubicación</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Unidades EVA</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                  <li><a class="dropdown-item" href="unidades">Lista actual</a></li>
                  <li><a class="dropdown-item" href="unidades/nueva-unidad">Agregar nueva unidad</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Preguntas</strong>
            <h3 class="mb-0">Material design</h3>
            <div class="mb-1 text-muted">feb 20</div>
            <p class="card-text mb-auto">El Material design es una normativa de diseño, desarrollada por Google enfocado en la visualización del sistema operativo Android,
              además en la web y en cualquier plataforma.</p>
            <a href="https://elandroidelibre.elespanol.com/2014/11/que-es-material-design.html" class="stretched-link">Para saber más</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>
  
          </div>
        </div>
      </div>
      
        <div class="card">
            <img src="funko.jpg" alt="Funko Pop Animation: Evangelion - 6 Eva Unit 01" style="width:100%">
            <h2> Funko Pop Animation: Evangelion - 6 Eva Unit 01 </h2>
            <p class="price" > De $1,200 a $899 </p>
            <p> Añade a tu coleccion este Funko Pop que a ninguna persona que le gusta Evangelion le puede faltar
              ,por un precio increible que no puedes dejar atras.</p>
            <strong> Ingresar cantidad <input type="number" id="n_funko" min="0" value = 0> </strong><br>
            <p><button id= "botonGalaxy" onclick="añadir()">Añadir</button></p>
        </div>
        
        <div class="card">
            <img src="tamagochi.jpg" alt="Tamagotchi X Evangelion - Eva 00" style="width:100%">
            <h2> Tamagotchi X Evangelion - Eva 00 </h2>
            <p class="price"> De $2,500 a $1,750 </p>
            <p> Increible olaboración entre Tamagotchi y Evangelion.
                Porque las unidades EVA tambien necesitan de quien las cuide, adquiere ya este increible juguete y pasa horas de diversion.
            </p>
            <strong> Ingresar cantidad <input type="number" id= "n_tamagochi" min="0" value = 0> </strong><br>
            <p><button id= "botonGuante" onclick="añadir()">Añadir</button></p>
        </div>
        
        <div class="card">
            <img src="julioAsuka.png" alt="Traje de Asuka Langley" style="width:100%">
            <h2> Traje de Asuka Langley </h2>
            <p class="price"> $2,500 </p>
            <p> Viste como un verdadero heroe y adquiere ya el traje de uno de los tres primeros niños elegidos para pilotar unidades EVA.
                (modelo no incluido)
            </p>
            <strong> Ingresar cantidad <input type="number" id="n_traje" min="0" value = 0> </strong><br>
            <p><button id= "botonJordan" onclick="añadir()">Añadir</button></p>
        </div><br>

        <div id="fin"></div>

    </main>

    <footer class="container py-5">
        <script src="catalogo.js"></script>
            <div class="row">
              <div class="col-12 col-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
                <small class="d-block mb-3 text-muted">© 2021</small>
              </div>
              <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="link-secondary" href="https://code.visualstudio.com/">Visual Estudio Code</a></li>
                  <li><a class="link-secondary" href="https://www.w3schools.com/howto/howto_css_product_card.asp">w3schools</a></li>
                  <li><a class="link-secondary" href="https://getbootstrap.com/docs/5.0/examples/product/#">Bootstrap</a></li>
                  <li><a class="link-secondary" href="#">Final resource</a></li>
                </ul>
              </div>
            </div>
    </footer>

</body>
</html>