<%- include('partials/head.ejs') %>

<%- include('partials/navbar.ejs') %>

    <main>
        <h1 class= "text-danger">Localización</h1>
            <h3>Estamos localizados en el Geo-Frente 
                (especie de caverna esférica subterránea de la cual el 89% está bajo tierra) de Tokio-3.</h3><br>
            <img src="media/tokio3.jpg" alt="tokio 3" style="width:100%">
            <img src="media/tokio3.gif" alt="tokio 3" style="width:100%">
            <img src="media/base.jpg" alt="base" style="width:100%">
    </main>
    
<%- include('partials/footer.ejs') %>